# For aws setup
export AWS_ACCOUNT_ID=015123123000
export AWS_BUCKET=you-photo-archive
export AWS_REGION=eu-central-1
export EMAIL=you@gmail.com

# For backup immich
export IMMICH_DIR=/Users/you/Immich
export STORAGE_DIR=/Volumes/EXTDATA/you

# For duplicate resolver
# Create an API key in Immich and paste here
export IMMICH_DEDUP_API_KEY=Abc
