export AWS_ACCOUNT_ID=015599000000
export AWS_BUCKET=your-photo-archive

export RCLONE_REMOTE=s3
export RCLONE_ACCESS_KEY=ABC
export RCLONE_SECRET_ACCESS_KEY=abc

export PHONE_TMP_DIR=/Users/you/SyncPhones/your-phone

export PHONE_STORAGE_DIR=/Volumes/EXTDATA/Photos/your-phone
export PHONE_STORAGE2_DIR=/Volumes/Expansion/data/Photos/your-phone

export STORAGE_DIR=/Volumes/EXTDATA/Photos
export STORAGE2_DIR=/Volumes/Expansion/data/Photos

export IMMICH_DIR=/Users/you/Immich
