<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.backup_photos</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <!-- Should point to this repo -->
        <string>/Users/oleg/Repos/Photos/scripts/backup_photos.sh</string>
    </array>

    <key>StartInterval</key>
    <!-- 30 minutes -->
    <integer>1800</integer>

    <!-- <key>WatchPaths</key>
    <array>
        <string>/Users/oleg/SyncPhones/oleg-pixel/</string>
    </array> -->

    <key>StandardOutPath</key>
    <string>/Users/oleg/Library/Logs/backup_photos.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/oleg/Library/Logs/backup_photos.err</string>
</dict>
